/* page */
body {
    background-color: #222;
}

header .navbar {
    background-color: rgb(22, 102, 120) !important;
    color: #ddd;
}

main {
    background-color:#ddd;
    color: #222;
    padding: .5vw;
    margin-top: 74px;
}

footer {
    background-color: rgb(22, 102, 120) !important;
    color: #ddd;
}

.navbar-toggler.custom-navbar-toggler {
    border-color: #ddd;
}

.navbar-toggler-icon.custom-navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(221,221,221)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* header */
#logo {
    max-height: 48px;
}
a.nav-link{
    font-size: 20px;
    color:  #222 !important;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
a.nav-link:hover{
    color:  #ddd !important;
    text-decoration: underline;
}